Source: indicator-ip
Section: net
Priority: optional
Maintainer: Daniel Kraus <krada@gmx.net>
Build-Depends: debhelper (>= 9), autotools-dev, dh-python
Standards-Version: 3.9.5
Homepage: https://github.com/bovender/indicator-ip

Package: indicator-ip
Architecture: all
Depends: ${misc:Depends}, python, unity, iproute2, curl
Description: Displays current IPs as indicator.
 Indicator that shows the current IPs of the network interfaces
 as well as the public IP on the internet.
