Source: indicator-ip
Section: net
Priority: optional
Maintainer: Daniel Kraus <bovender@bovender.de>
Build-Depends: debhelper (>= 9~), python, dh-python, pandoc
Standards-Version: 3.9.6
Homepage: https://github.com/bovender/indicator-ip

Package: indicator-ip
Architecture: all
Depends: python-appindicator, iproute2, curl, python-dbus, python-gtk2, ${python:Depends}, ${misc:Depends}
X-Python-Version: >= 2.5
Description: Displays current IPs as indicator.
 Indicator that shows the current IPs of the network interfaces
 as well as the public IP on the internet.
